:root {
  --color_1: rgb(97 208 212);
  --color_2: rgb(209 201 38);
  --color_3: rgb(232 53 86);
  --color_4: rgb(155 35 57);
  --color_5: rgb(65 139 141);
  --color_6: rgb(139 134 25);
}

li {
  list-style: none;
}

* {
  color: rgb(77, 77, 77);
}

body {
  background-color: rgb(232, 227, 236);
  margin: 0px;
  font-size: 16px;
  display: grid;
}

a {
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

img {
  margin-right: 40px;
  border-radius: 50%;
}

section {
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 10px;
}

footer {
  height: 136px;
  width: 100%;
  background-color: var(--color_3);
  margin-bottom: 50px;
  display: grid;
  align-items: center;
  justify-content: space-around;
}

.sectiones {
  padding-right: 30px;
}

.sectiones:hover {
  color: var(--color_1);
}

/*Here I style the header*/
header {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  margin: auto;
  width: 850px;
}

.my-name {
  margin-bottom: 0;
  font-size: 50px;
}

.my-ocupation {
  margin-top: 0;
  font-size: 20px;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Here I style the home section*/
#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 65%;
  height: 480px;
  animation: fadeIn 2s;
}

.abaut-me {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}

.hello {
  font-size: 80px;
  margin: 0;
}

.nav-home {
  display: grid;
  grid-template-columns: repeat(3, 130px);
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
  cursor: pointer;
}

.enlace {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  padding: 3%;
  color: white;
}

.my-resume {
  background: var(--color_3);
  animation: fadeIn 2s;
}

.my-resume:hover {
  background-color: var(--color_4);
}

.my-work {
  background-color: var(--color_1);
  animation: fadeIn 2s;
}

.my-work:hover {
  background-color: var(--color_5);
}

.my-skill:hover {
  background-color: var(--color_6);
}

/*Here I style the resume section*/
#resume {
  width: 80%;
  display: none;
  animation: fadeIn 2s;
  margin-right: 230px;
  margin-bottom: 20px;
}

.resume-title {
  border-bottom: 1px solid gray;
  width: 650px;
}

/*I give style to the title of the resume and projects section*/
.resume-title,
.projects {
  font-size: 90px;
  font-weight: normal;
  margin: 0;
}

.subtitle {
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 4fr 12fr;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 200px;
}

.section-resume {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--color_3);
  display: grid;
  align-items: center;
  text-align: left;
  margin: 0px auto;
  padding: 3%;
  color: white;
  margin-right: 10%;
}

.paragraph {
  text-align: justify;
  width: 90%;
  margin-left: 15px;
}

#myskill {
  display: grid;
  position: absolute;
  left: 780px;
  margin: 0px 0px 25px calc((100% - 980px) * 0.5);
  margin-top: 50px;
  animation: fadeIn 2s;
}

.my-skill {
  background-color: var(--color_2);
}

.lenguages-subtitle {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.list-lenguages {
  padding: 0;
}

.fa-globe {
  font-size: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--color_1);
  margin: 0px auto;
  padding: 3%;
  color: white;
}

.certificactions-link {
  display: block;
  text-align: left;
  padding-left: 15px;
  margin-top: inherit;
}

.certificactions-link:hover {
  color: var(--color_1);
}

.certifications {
  height: auto;
  align-items: flex-start;
  margin-top: 30px;
  border-bottom: none;
}

/*Here I style the projects section*/
#projects {
  width: 60%;
  height: auto;
  display: none;
  animation: fadeIn 2s;
}

.sections-title {
  border-bottom: 1px solid grey;
  font-size: 80px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0px;
}

.video {
  width: 494px;
  height: 300px;
  position: absolute;
}

.num-project {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--color_1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  margin-left: 550px;
}

/* other line */
.tictoe-game, .to-do-list, .random-quote-page {
  margin-left: 550px;
  margin-top: 120px;
  border-top: 1px solid gray;
  padding-top: 30px;
}

.link-page {
  justify-content: flex-start;
}

.link-page:hover {
  color: var(--color_1);
}

/* border */
.container-project{
  margin-top: 40px;
  border-bottom: 1px solid gray;
}

.container-project-last{
  margin-top: 40px;
}

.to-do-list, .random-quote-page{
  margin-bottom: 30px;
}

/*Here I style the contact section*/
#contact {
  grid-template-columns: 4fr 5fr;
  width: 60%;
  display: none;
  animation: fadeIn 2s;
}

.contact-title {
  font-size: 80px;
  font-weight: normal;
  height: 350px;
  margin-right: 80px;
  margin-top: 10px;
}

.data {
  height: 390px;
}

.nav-contact {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  position: absolute;
  margin-top: 90px;
}

i.contact-icon.fa-brands {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: black;
  color: white;
  text-align: center;
  display: grid;
  align-items: center;
}

.p-form {
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}

input {
  height: 27px;
}

textarea {
  height: 123px;
}

input,
textarea {
  width: 380px;
  background-color: var(--color_3);
  border-color: var(--color_3);
}

.form {
  padding-bottom: 5px;
}

::placeholder {
  color: white;
}

button {
  border: none;
  color: black;
  background-color: rgb(232, 227, 236);
  padding-left: 340px;
  font-weight: bold;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--color_1);
  color: var(--color_3);
  margin-right: 10%;
  font-size: 20px;
}

/*Here I center the icons in their container elements*/
i.fa-brands,
i.fa-solid.fa-globe {
  display: grid;
  text-align: center;
  align-items: center;
}

.p-my-informacion {
  position: absolute;
  margin-top: 190px;
  font-size: 15px;
}

button:hover {
  color: var(--color_1);
  cursor: pointer;
}

/*Here I style the footer section*/
.nav-footer {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  padding-left: 70px;
  justify-content: center;
}

.a-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  width: 80%;
  color: white;
  align-items: baseline;
}

.icon-footer {
  padding-right: 70px;
}

/*Here the animation of each section was made*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  #home {
    height: auto;
  }
  img {
    padding-bottom: 20px;
  }
  #projects {
    width: 85%;
  }
  .enlace {
    color: white;
  }
}

@media (min-width: 800px) {
  .nav-contact {
    left: 70px;
  }
  .p-my-informacion {
    left: 70px;
  }
}

@media (min-width: 1000px) {
  .nav-contact {
    left: 290px;
  }
  .p-my-informacion {
    left: 290px;
  }
  #projects {
    width: 60%;
  }
}
